# Copiá este archivo como .env en el servidor y completá los valores
# El .env NUNCA se sube a git (está en .gitignore)

DB_PASSWORD=pon_aqui_una_contraseña_fuerte
JWT_SECRET=genera_con__openssl_rand_-base64_32
